body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    float: left;
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    width: auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    align-content: stretch;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.navbar a {
    display: inline-block;
}

ul li:after {
    content: "|";
}

ul li:last-child {
    content: "";
}

div.content {
    width: 960px;
    margin-top: 20px;
    border: 3px #dddddd;
    float: left;     
}

h1,h2,h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

hr {
    color: #777777;
    width: 960px;
    float: left;
    align-content:space-between;
}

form {
    width: 940px;
    color: #777777;
    padding: 10px;
    overflow: hidden;
}

input{
    width: 940px;
    color: #777777;
}

input:last-child {
    width: 80px;
    height: 30px;
    background-color: #4aaaa5;
    color: white;
    border: none;
}

footer {
    width: auto;
    height: 
}
