body {
    margin-left: auto;
    margin-right: auto;
    background-color: #dddddd
}

header {
    float: left;
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    width: auto;
    padding: 20px;
    margin-left: 270px;
}

ul {
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: visible;
    background-color: #ffffff;
}

li {
    float: right;
    align-content: stretch;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.navbar a {
    display: inline-block;
}

ul li:after {
    content: "|";
}

ul li:first-child::after {
    content: "";
}

div.content {
    width: 960px;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
    background-color: #ffffff;     
}

h1, h2, h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

hr {
    color: #777777;
    width: 960px;
    float: left;
    align-content:space-between;
}

form {
    width: 940px;
    color: #777777;
    padding: 10px;
    overflow: hidden;
}

input {
    width: 940px;
    color: #777777;
}

input:nth-of-type(3) {
    height: 150px;
}

input:last-child {
    width: 80px;
    height: 30px;
    background-color: #4aaaa5;
    color: white;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}

p {
    width: 920px;
    height: 300px;
    padding-left: 20px;
    line-height: 2;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line
}

p.copyright {
    color: white;
    bottom: 0;
    text-align: center;
    font-size: small;
}

img {
    width: 250px;
    height: auto;
    float: left;
    object-fit: contain;
    translate: -10%;
}

div.portfolio {
    position: relative;
    width: 400px;
    float: left;
}

div.portfolio img {
    width: 50%;
    height: auto;
}

button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-100%);
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: none;
    width: 200px;
    height: 40px;
}